# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment
.env
.venv
env/
venv/
ENV/

# Pytest cache
.pytest_cache/

# DeepEval
.deepeval/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-*

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Others
pip-log.txt
pip-delete-this-directory.txt
